<div class="navbar card">

  <div class="row" >
      <div class=" ">Home</div>
    <div   class="usr"  >  {{username }}
     </div>
  </div> 

</div>

 <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            
            <ul class="sidebar-nav">
               
               <li>
                    <a  class="logo" id="home">HopQ<sub style="
    font-size: 14px;
">dashboard</sub></a>
                </li>
                <br>
                <li class="active">
                    <a (click)="Home()" id="home" >Home</a>
                </li>
                <li>
                    <a id="documentation" (click)="Documentation()">Documentation</a>
                </li>
                 <li>
                    <a (click)="Data()" id="data">Data</a>
                </li>
                <li>
                    <a id="logout" (click)="Logout()">Logout</a>
                </li>
                
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
           
            <ul id="submenu-2" class="">
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 2.1</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 2.2</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 2.3</a></li>
                    </ul>
    


        <!-- /#page-content-wrapper -->

    </div>
   